.feynman__link{
    position: absolute;
    right:48px;
    top:50%;


    color:black;
    text-decoration: none;

    margin-top:auto;
    margin-bottom:auto;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    opacity: 1;
    transition: opacity 0.25s ease-out;
}

.feynman__link:hover{
    opacity: 0.5;
}

