.footer__link{
    padding: 0;
    margin: 0;

    line-height: 30px;
    font-size: 18px;
    font-weight: normal;

    color:white;
    text-decoration: none;
    
    opacity: 1;
    transition: opacity 0.25s ease-out;
}

.footer__link:hover{
    opacity: 0.5;
}

