@import url(../two-columns/__brief/two-columns__brief.css);
@import url(../two-columns/__main-text/two-columns__main-text.css);
@import url(../two-columns/__paragraph/two-columns__paragraph.css);
@import url(../two-columns/__span-accent/two-columns__span-accent.css);
@import url(../two-columns/_place/two-columns_place_oakley.css);

.two-columns{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}